<div class="wrapper footer">
           <div class="w1090 rela">
                  <p>Copy © 2015 雕婵化妆形象设计中心 版权所有    艾斯顿文化传媒有限公司提供技术支持</p>

                  <p>地址:永川区1号站(交巡警平台)　公交路线：乘坐101、102、105、109、115、501、502 到望北路一号站</p>

                  <p>联系人:  (吴老师)15123314717    QQ：314506025　  联系人:(波波老师)18723338716    QQ：357648253</p>

                  <div class="abso" style="right: 0px; bottom: 0px;">
                      <a href=""><img src="__IMAGES__icon05.png"></a>
                      <a href=""><img src="__IMAGES__icon06.png"></a>
                      <a href=""><img src="__IMAGES__icon07.png"></a>
                  </div>
           </div>

      </div>