		<div class="footer">
			<div class="center-block">
				<div class="p">Copy © 2015 雕婵化妆形象设计中心 版权所有    重庆艾斯顿文化传媒有限公司 技术支持</div>
				<div class="p">地址:永川区1号站(交巡警平台)　公交路线：乘坐101、102、105、109、115、501、502 到望北路一号站</div>
				<div class="p cl">
					<div class="fl">联系人:  (吴老师)15123314717    QQ：314506025　  联系人:(波波老师)18723338716    QQ：357648253</div>
					<div class="links fr cl">
						<a href="" class="fl"><img src="__IMAGES__icon4.png"/></a>
						<a href="" class="fl"><img src="__IMAGES__icon5.png"/></a>
						<a href="" class="fl"><img src="__IMAGES__icon6.png"/></a>
					</div>
				</div>
			</div>
		</div>