 		<div class="hearder w1090">
          <div class="logo fl">
              <a href="index.html"><img src="__IMAGES__logo.png"></a>
          </div>
          <div class="navBar fr">
              <ul>
                  <li>
                    <a href="/index.php/Home/Index" class="curr">首页<span>Home</span></a>
                  </li>       
                    <li>
                    <a href="/index.php/Home/Start/start">合作明星<span>About Us</span></a>
                  </li>      
                    <li>
                    <a href="/index.php/Home/Course/course">课程设置<span>Course</span></a>
                  </li>  
                  <li>
                    <a href="/index.php/Home/Team/team">名师团队<span>Course</span></a>
                  </li>   
                    <li>
                    <a href="/index.php/Home/News/news">动态咨询<span>News</span></a>
                  </li>       
                    <li>
                    <a href="/index.php/Home/Product/product">作品欣赏<span>Teachers</span></a>
                  </li>      
                    <li>
                    <a href="/index.php/Home/Join/join">创业加盟<span>Join us</span></a>
                  </li>       
                    <li>                                                       
                    <a href="/index.php/Home/Contact/contact">联系我们<span>Contact Us</span></a>
                  </li>
              </ul>
          </div>
      </div>